.vs/
MunchenAutoUpdater/.vs/MunchenAutoUpdater/FileContentIndex/2a11fe4d-64ea-4e0c-98d9-4670335bf561.vsidx
MunchenAutoUpdater/.vs/MunchenAutoUpdater/FileContentIndex/8edc487a-4f8c-49e3-ab86-12894536e3f4.vsidx
MunchenAutoUpdater/.vs/MunchenAutoUpdater/FileContentIndex/cc2984f7-29e9-4527-94f8-983029de7b37.vsidx
MunchenAutoUpdater/.vs/MunchenAutoUpdater/FileContentIndex/d2a9207b-4def-4f2d-a701-4c905b2258ae.vsidx
MunchenAutoUpdater/.vs/MunchenAutoUpdater/FileContentIndex/read.lock
MunchenAutoUpdater/.vs/MunchenManager/FileContentIndex/0ab2834f-aeaa-4ebf-93e3-503900510ce0.vsidx
MunchenAutoUpdater/.vs/MunchenManager/FileContentIndex/38cd4e94-c2a3-4113-89d1-5e7a6d5af074.vsidx
MunchenAutoUpdater/.vs/MunchenManager/FileContentIndex/b0aeddf6-24a4-4fdf-a164-5de7e333dd5b.vsidx
MunchenAutoUpdater/.vs/MunchenManager/FileContentIndex/d9b946da-9c94-415b-93f9-dfa6480a811b.vsidx
MunchenAutoUpdater/.vs/MunchenManager/FileContentIndex/read.lock
MunchenAutoUpdater/.vs/MunchenManager/v16/.suo
MunchenAutoUpdater/.vs/MunchenManager/v17/.suo
MunchenManager.sln
MunchenAutoUpdater/obj/
